<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="net.bioclipse.scripting.contribution">
      <scriptContribution
            service="net.bioclipse.xml.test.business.XmlManagerFactory"
            id="net.bioclipse.xml.test.business.XmlManager">
      </scriptContribution>
   </extension>

</plugin>
