<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="PKPD Editor"
            default="true"
            filenames="pkpd.xml"
            icon="icons/sample.gif"
            contributorClass="net.bioclipse.pkpd.editors.PKPDEditorContributor"
            class="net.bioclipse.pkpd.editors.PKPDEditor"
            id="net.bioclipse.pkpd.editors.PKPDEditor">
      </editor>
   </extension>


   <extension
         id="net.bioclipse.pkpd.PKPDBuilder"
         name="PKPD Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="net.bioclipse.pkpd.builder.PKPDBuilder">
         </run>
      </builder>
   </extension>
   
   <extension
         id="net.bioclipse.pkpd.PKPDNature"
         name="PKPD Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="net.bioclipse.pkpd.builder.PKPDNature">
         </run>
      </runtime>
      <builder
            id="net.bioclipse.pkpd.PKPDBuilder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/pkpd_ovr.gif"
            id="net.bioclipse.images.PKPDProjectImage"
            natureId="net.bioclipse.pkpd.PKPDNature"/>
   </extension>

   
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IProject"
            nameFilter="*"
            id="net.bioclipse.pkpd.contribution1">
         <action
               label="Add/Remove PKPD Nature"
               class="net.bioclipse.pkpd.builder.ToggleNatureAction"
               menubarPath="additions"
               enablesFor="+"
               id="net.bioclipse.pkpd.addRemoveNatureAction">
         </action>
      </objectContribution>
   </extension>
   
    <extension
      point = "org.eclipse.ui.newWizards">
	<category
	   id = "net.bioclipse.categories.pkpd"
	   name="PKPD">
	</category>
 	<wizard
	   id = "net.bioclipse.pkpd.wizards.NewPKPDProjectWizard"
	   name = "New PKPD project"
	   project="true"
	   class="net.bioclipse.pkpd.wizards.NewPKPDProjectWizard"
	   category="net.bioclipse.categories.pkpd"
	   icon="icons/sample.gif">
   	   <description>New PKPD Wizard</description>
	   <selection class="org.eclipse.core.resources.IResource"/>
	</wizard>
</extension>

</plugin>
