<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

  <extension point="org.eclipse.core.runtime.contentTypes">
    <content-type
      base-type="org.eclipse.core.runtime.text" 
      id="net.bioclipse.contenttypes.cif"
      name="Crystallographic Interchange Format"                   
      priority="high">
      <describer class="net.bioclipse.ioformats.CDKChemFileDescriber">
        <parameter name="format" value="org.openscience.cdk.io.formats.CIFFormat"/>
      </describer>
    </content-type>
    <content-type base-type="org.eclipse.core.runtime.xml"
                  id="net.bioclipse.contenttypes.pubchem.xml.compounds"
                  name="PubChem Compounds XML"
                  file-extensions="xml"
                  priority="normal">
      <describer class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber2">
        <parameter name="element"
                   value="{http://www.ncbi.nlm.nih.gov}PC-Compounds"/>
      </describer>
    </content-type>
    <content-type base-type="org.eclipse.core.runtime.xml"
                  id="net.bioclipse.contenttypes.pubchem.xml.compound"
                  name="PubChem Compound XML"
                  file-extensions="xml"
                  priority="normal">
      <describer class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber2">
        <parameter name="element"
                   value="{http://www.ncbi.nlm.nih.gov}PC-Compound"/>
      </describer>
    </content-type>
    <content-type base-type="org.eclipse.core.runtime.xml"
                  id="net.bioclipse.contenttypes.pubchem.xml.substances"
                  name="PubChem Substances XML"
                  file-extensions="xml"
                  priority="normal">
      <describer class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber2">
        <parameter name="element"
                   value="{http://www.ncbi.nlm.nih.gov}PC-Substances"/>
      </describer>
    </content-type>
    <content-type base-type="org.eclipse.core.runtime.xml"
                  id="net.bioclipse.contenttypes.pubchem.xml.substance"
                  name="PubChem Substance XML"
                  file-extensions="xml"
                  priority="normal">
      <describer class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber2">
        <parameter name="element"
                   value="{http://www.ncbi.nlm.nih.gov}PC-Substance"/>
      </describer>
    </content-type>
  </extension>

</plugin>
