plugins/net.bioclipse.analysis/bin
plugins/net.bioclipse.bibtex/bin
plugins/net.bioclipse.biojava.business.tests/bin
plugins/net.bioclipse.biojava.business/bin
plugins/net.bioclipse.biojava.ui.test/bin
plugins/net.bioclipse.biojava.ui/bin
plugins/net.bioclipse.biomart/bin
plugins/net.bioclipse.biomoby.tests/bin
plugins/net.bioclipse.biomoby.ui/bin
plugins/net.bioclipse.biomoby/bin
plugins/net.bioclipse.cdk.business.test/bin
plugins/net.bioclipse.cdk.business/bin
plugins/net.bioclipse.cdk.jchempaint/bin
plugins/net.bioclipse.cdk.qsar.test/bin
plugins/net.bioclipse.cdk.qsar/bin
plugins/net.bioclipse.cdk.ui.sdfeditor/bin
plugins/net.bioclipse.cdk.ui.tests/bin
plugins/net.bioclipse.cdk.ui/bin
plugins/net.bioclipse.cdk10.jchempaint/bin
plugins/net.bioclipse.cdk10.rdfeditor/bin
plugins/net.bioclipse.cdk10.sdfeditor/bin
plugins/net.bioclipse.cdk10.tests/bin
plugins/net.bioclipse.cdk10.ui/bin
plugins/net.bioclipse.cdk10/bin
plugins/net.bioclipse.chart/bin
plugins/net.bioclipse.chemoinformatics/bin
plugins/net.bioclipse.cml/bin
plugins/net.bioclipse.core.tests/bin
plugins/net.bioclipse.core/bin
plugins/net.bioclipse.data.sampledata/bin
plugins/net.bioclipse.hsqldb.tests/bin
plugins/net.bioclipse.hsqldb/bin
plugins/net.bioclipse.jalview/bin
plugins/net.bioclipse.jmol/bin
plugins/net.bioclipse.logger/bin
plugins/net.bioclipse.molfilter.edit/bin
plugins/net.bioclipse.molfilter.editor/bin
plugins/net.bioclipse.molfilter/bin
plugins/net.bioclipse.moss/bin
plugins/net.bioclipse.nmrshiftdb/bin
plugins/net.bioclipse.pcore.edit/bin
plugins/net.bioclipse.pcore/bin
plugins/net.bioclipse.qsar.edit/bin
plugins/net.bioclipse.qsar.test/bin
plugins/net.bioclipse.qsar.ui/bin
plugins/net.bioclipse.qsar/bin
plugins/net.bioclipse.r/bin
plugins/net.bioclipse.scripting.tests/bin
plugins/net.bioclipse.scripting.ui/bin
plugins/net.bioclipse.scripting/bin
plugins/net.bioclipse.services.embrace/bin
plugins/net.bioclipse.services/bin
plugins/net.bioclipse.specmol/bin
plugins/net.bioclipse.spectrum/bin
plugins/net.bioclipse.statistics.jama/bin
plugins/net.bioclipse.statistics/bin
plugins/net.bioclipse.structuredb.tests/bin
plugins/net.bioclipse.structuredb/bin
plugins/net.bioclipse.tests/bin
plugins/net.bioclipse.ui.business/bin
plugins/net.bioclipse.ui.tests/bin
plugins/net.bioclipse.ui/bin
plugins/net.bioclipse.usermanager.tests/bin
plugins/net.bioclipse.usermanager/bin
plugins/net.bioclipse.webservices/bin
plugins/net.bioclipse.xom/bin
plugins/net.bioclipse.xws4j/bin
plugins/net.sourceforge.jseditor/bin
