<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="net.bioclipse.ui.bioobjectDescriber" name="BioObjectDescriber" schema="schema/net.bioclipse.ui.bioobjectDescriber.exsd"/>
   <extension-point id="editorShortname" name="Editor Shortname" schema="schema/editorShortname.exsd"/>
   <extension
         point="net.bioclipse.scripting.contribution">
      <scriptContribution
         id="net.bioclipse.ui.business.UIManager"
         service="net.bioclipse.ui.business.UIManagerFactory">
      </scriptContribution>
   </extension>
</plugin>
