<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="net.bioclipse.ds.test">
      <test
            class="net.bioclipse.ds.signsig.bursi.SignSIgRunner"
            icon="icons/form.gif"
            id="signsig.bursi"
            reportmodel="net.bioclipse.ds.signsig.bursi.SignSigTestmodel"
            name="Bursi Signature Significance">
      </test>
   </extension>
   
   
       <extension
       point="net.bioclipse.cdk.propertyCalculator">
    <Calculator
          class="net.bioclipse.ds.signsig.bursi.SignSigPropertyCalculator"
          id="Signature Significance">
    </Calculator>
 </extension>
 
 	<extension
  		point="org.eclipse.ui.menus">
   <menuContribution
        locationURI="popup:net.bioclipse.ds.context?after=single">
      <command
           commandId="net.bioclipse.cdk.ui.sdfeditor.addProperty"
           label="Bursi Signature Significance"
            icon="icons/form.gif"
           style="push">
        <parameter
              name="net.bioclipse.cdk.ui.sdfeditor.calculatorId"
              value="Signature Significance">
        </parameter>
        <visibleWhen
              checkEnabled="false">
           <with
                 variable="activeEditor">
              <instanceof
                    value="net.bioclipse.cdk.ui.sdfeditor.editor.MultiPageMoleculesEditorPart">
              </instanceof>
           </with>
        </visibleWhen>
     </command>
   </menuContribution>
 </extension>
   

</plugin>
