<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="net.bioclipse.scripting.contribution">
      <scriptContribution
         id="net.bioclipse.scripting.ui.business.JsConsoleManager"
         service="net.bioclipse.scripting.ui.business.JsConsoleManagerFactory">
      </scriptContribution>
   </extension>

   <extension
         point="org.eclipse.ui.views">
     <category
         name="Scripting"
         id="net.bioclipse.ScriptingCategory">
      </category>
      <view
         name="Javascript Console"
         icon="icons/source.gif"
         category="net.bioclipse.ScriptingCategory"
         class="net.bioclipse.scripting.ui.views.JsConsoleView"
         id="net.bioclipse.scripting.ui.views.JsConsoleView">
         <description>
            Javascript Console View
         </description>
      </view>
      <view
         name="Javascript Console"
         icon="icons/source.gif"
         category="net.bioclipse.ScriptingCategory"
         class="net.bioclipse.scripting.ui.views.JsConsoleView"
         id="net.bioclipse.scripting.ui.views.JsConsoleView">
         <description>
            Javascript Console View
         </description>
      </view>
      <!-- Ruby and Groovy consoles used to reside here. See r6394. -->
      
      <!--view
         allowMultiple="false"
         category="net.bioclipse.ui.category"
         class="net.bioclipse.scripting.ui.views.VirtualView"
         id="net.bioclipse.scripting.ui.views.VirtualView"
         icon="icons/logo/logo_16_trans.gif"
         name="Virtual Navigator">
      </view-->
   </extension>
   
    <extension
       point="org.eclipse.ui.perspectiveExtensions"
       id="defaultPerspectiveExtension">
    <perspectiveExtension
          targetID="net.bioclipse.ui.Perspective">
          <view
                id="net.bioclipse.scripting.ui.views.JsConsoleView"
                relative="org.eclipse.ui.views.PropertySheet"
                relationship="stack"
                visible="true">
          </view>
          <viewShortcut
                id="net.bioclipse.scripting.ui.views.JsConsoleView">
          </viewShortcut>
    </perspectiveExtension>
 </extension>
    <extension
          point="org.eclipse.ui.cheatsheets.cheatSheetContent">
            <cheatsheet
            category="net.bioclipse.cheatsheets.workbench"
            composite="false"
            contentFile="cheatsheets/basicScripting.xml"
            id="net.bioclipse.cheatsheets.javascript"
            name="Using the Javscript Console"/>
          
    </extension>
    <extension
          point="net.bioclipse.core.JavaScriptConsolePrinterChannel">
      <service
         id="net.bioclipse.scripting.ui.business.JsConsoleManager"
         service="net.bioclipse.scripting.ui.business.JsConsoleManagerFactory">
      </service>
   </extension>

</plugin>
