<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="net.bioclipse.scripting.contribution">
      <scriptContribution
         id="net.bioclipse.scripting.ui.business.JsConsoleManager"
         service="net.bioclipse.scripting.ui.business.JsConsoleManagerFactory">
      </scriptContribution>
   </extension>

   <extension
         point="org.eclipse.ui.views">
     <category
         name="Scripting"
         id="net.bioclipse.ScriptingCategory">
      </category>
      <view
         name="Javascript Console"
         icon="icons/source.gif"
         category="net.bioclipse.ScriptingCategory"
         class="net.bioclipse.scripting.ui.views.JsConsoleView"
         id="net.bioclipse.scripting.ui.views.JsConsoleView">
         <description>
            The Javascript View of Bioclipse
         </description>
      </view>
      <view
         allowMultiple="false"
         name="Groovy Console"
         icon="icons/source.gif"
         category="net.bioclipse.ScriptingCategory"
         class="net.bioclipse.scripting.ui.views.GroovyConsoleView"
         id="net.bioclipse.scripting.ui.views.GroovyConsoleView">
      </view>
      <view
         allowMultiple="false"
         name="Ruby Console"
         icon="icons/source.gif"
         category="net.bioclipse.ScriptingCategory"
         class="net.bioclipse.scripting.ui.views.RubyConsoleView"
         id="net.bioclipse.scripting.ui.views.RubyConsoleView">
      </view>
      <view
         allowMultiple="false"
         name="Action History"
         category="net.bioclipse.ScriptingCategory"
         class="net.bioclipse.scripting.ui.views.ActionHistoryView"
         id="net.bioclipse.scripting.ui.views.ActionHistoryView">
      </view>
      <view
         allowMultiple="false"
         category="net.bioclipse.ui.category"
         class="net.bioclipse.scripting.ui.views.VirtualView"
         id="net.bioclipse.scripting.ui.views.VirtualView"
         icon="icons/logo/logo_16_trans.gif"
         name="Virtual Navigator">
      </view>
   </extension>
</plugin>
