<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension-point id="net.bioclipse.ui.r_provider" name="R Extension Point" schema="schema/net.bioclipse.ui.r-provider.exsd"/>

	<extension
		point="org.eclipse.ui.contexts">
		<context
			name="Bioinfomatics"
			description="Bioinformatics"
			id="net.bioclipse.ui.contexts.bioinformatics">
		</context>
		<context
			name="Chemoinformatics"
			description="Chemoinformatics"
			id="net.bioclipse.ui.contexts.chemoinformatics">
		</context>
   </extension>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="net.bioclipse.ui.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Default"
            class="net.bioclipse.ui.DefaultPerspective"
            id="net.bioclipse.ui.Perspective">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="Bioclipse"
            application="net.bioclipse.ui.application">
         <property
               name="windowImages"
               value="icons/logo/logo_16_trans.gif,icons/logo/logo_32_trans.gif,icons/logo/logo_48.gif,icons/logo/logo_64.gif,icons/logo/logo_128.gif">
         </property>
         <property
               name="appName"
               value="Bioclipse">
         </property>
         <property
               name="startupForegroundColor"
               value="C7E1E6">
         </property>
         <property
               name="startupMessageRect"
               value="7,252,445,20">
         </property>
         <property
               name="startupProgressRect"
               value="5,290,445,15">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="aboutImage"
               value="icons/logo/abot_img.gif">
         </property>
         <property
               name="aboutText"
               value="Version: 2.0-alpha&#x0D;&#x0D;Copyright (c) 2005-2008 Bioclipse Project&#x0A; All rights reserved. This program and the accompanying materials&#x0A; are made available under the terms of the Eclipse Public License v1.0&#x0D; which accompanies this distribution, and is available at&#x0A; http://www.eclipse.org/legal/epl-v10.html&#x0A;&#x0A; Main contributors:&#x0A;   Ola Spjuth&#x0A;   Jonathan Alvarsson&#x0A;   Carl Mäsak&#x0A;   Arvid Berg&#x0A;   Eskil Anderssen&#x0A;   Egon Willighagen&#x0A;   Johannes Wagener&#x0A;   Stefan Kuhn&#x0A;   Martin Eklund&#x0A;   Christoph Steinbeck&#x0A;   Jarl E.S. Wikberg&#x0A;&#x0D;See http://www.bioclipse.net for more information">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.intro">
      <intro
            class="org.eclipse.ui.intro.config.CustomizableIntroPart"
            id="net.bioclipse.ui.intro">
      </intro>
      <introProductBinding
            introId="net.bioclipse.ui.intro"
            productId="net.bioclipse.ui.product">
      </introProductBinding>
   </extension>
   <extension
         point="org.eclipse.ui.intro.config">
      <config
            introId="net.bioclipse.ui.intro"
            content="introContent.xml"
            id="net.bioclipse.ui.configId">
         <presentation
               home-page-id="root">
            <implementation
                  kind="html"
                  os="win32,linux,macosx">
            </implementation>
         </presentation>
      </config>
   </extension>
   <extension
         point="org.eclipse.ui.views">
         <category
               id="net.bioclipse.ui.category"
               name="Bioclipse">
         </category>
      <view
            name="Bioclipse Explorer"
            category="net.bioclipse.ui.category"
            allowMultiple="false"
            icon="icons/logo/logo_16_trans.gif"
            class="org.eclipse.ui.navigator.CommonNavigator"
            id="net.bioclipse.navigator">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer
            viewerId="net.bioclipse.navigator">
         <popupMenu
               allowsPlatformContributions="true"
               id="net.bioclipse.navigator#PopupMenu">
            <insertionPoint
                  name="group.new">
            </insertionPoint>
            <insertionPoint
                  name="group.open"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="group.openWith">
            </insertionPoint>
            <insertionPoint
                  name="group.edit"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="group.reorganize">
            </insertionPoint>
            <insertionPoint
                  name="group.port"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="group.build"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="group.generate"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="group.search"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="additions"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="group.properties"
                  separator="true">
            </insertionPoint>
         </popupMenu>
      </viewer>
      <viewerContentBinding
            viewerId="net.bioclipse.navigator">
         <includes>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resourceContent">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.filters.*">
            </contentExtension>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding
            viewerId="net.bioclipse.navigator">
         <includes>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.*">
            </actionExtension>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.NewActions">
            </actionExtension>
         </includes>
      </viewerActionBinding>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="net.bioclipse.ui.editors.XMLEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            extensions="xml,cml"
            icon="icons/logo/logo_16_trans.gif"
            id="net.bioclipse.ui.editors.XMLEditor"
            default="false"
            name="XML Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            class="org.eclipse.ui.internal.navigator.resources.workbench.TabbedPropertySheetAdapterFactory"
            adaptableType="org.eclipse.ui.navigator.CommonNavigator">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySheetPage">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="net.bioclipse.navigator"
            labelProvider="org.eclipse.ui.internal.navigator.resources.workbench.TabbedPropertySheetTitleProvider">
         <propertyCategory
               category="general">
         </propertyCategory>
         <propertyCategory
               category="core">
         </propertyCategory>
         <propertyCategory
               category="appearance">
         </propertyCategory>
         <propertyCategory
               category="advanced">
         </propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="net.bioclipse.navigator">
         <propertyTab
               label="General"
               category="general"
               id="CommonNavigator.tab.Advanced">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="net.bioclipse.navigator">
         <propertySection
               tab="CommonNavigator.tab.Advanced"
               class="org.eclipse.ui.views.properties.tabbed.AdvancedPropertySection"
               id="CommonNavigator.section.Advanced">
            <input
                  type="java.lang.Object">
            </input>
         </propertySection>
      </propertySections>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="Cheat Sheets"
            visible="true"
            id="org.eclipse.ui.cheatsheets.actionSet">
         <action
               label="Cheat Sheets"
               class="org.eclipse.ui.internal.cheatsheets.actions.CheatSheetHelpMenuAction"
               menubarPath="help/helpStart"
               id="org.eclipse.ui.cheatsheets.actions.CheatSheetHelpMenuAction">
         </action>
      </actionSet>
   </extension>

   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="net.bioclipse.ui.prefs.BioclipsePreferenceInitializer">
      </initializer>
   </extension>
   
   <extension point="org.eclipse.ui.preferencePages">
    	<page id="net.bioclipse.preferences.UpdateSitesPreferencePage"
  	      	name="Update Sites"
	      	class="net.bioclipse.ui.prefs.UpdateSitesPreferencePage">
	   	</page>
   </extension>
   
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true">
      </toc>
      <toc
            file="tocdevelopers.xml">
      </toc>
      <toc
            file="toctutorials.xml">
      </toc>
   </extension>


  <!--extension
        point="org.eclipse.ui.importWizards">
     <wizard
           category="org.eclipse.ui.basic"
           class="net.bioclipse.ui.importWizards.FileImportWizard"
           icon="icons/sample.gif"
           id="net.bioclipse.ui.importWizards.FileImportWizard"
           name="Import single file">
        <description>
           Import a file from the local file system into the workspace.
        </description>
     </wizard>
  </extension-->
  
  <!--extension point="org.eclipse.ui.actionSets">
    <actionSet label="Search..."
               visible="true"
               id="net.bioclipse.search.search">
      <action label="Search..."
              class="net.bioclipse.ui.actions.SearchAction"
              menubarPath="edit/search.ext"
              id="net.bioclipse.actions.SearchAction">
      </action>
    </actionSet>
  </extension-->


    <extension
          point="org.eclipse.core.runtime.contentTypes">
          <content-type
                base-type="org.eclipse.core.runtime.xml"
                id="net.bioclipse.contenttypes.cml"
                name="Chemical Markup Language (CML)"
                file-extensions="cml,xml"
                priority="normal">
          </content-type>
    </extension>


<extension
           point="org.eclipse.core.runtime.contentTypes">
        <content-type
              base-type="net.bioclipse.contenttypes.cml"
	          id="net.bioclipse.contenttypes.cml.molecule2d"
              name="CMLmoleculeContentType2D"
              priority="high">
		 <describer class="net.bioclipse.ui.contenttypes.CmlFileCoordinatesDescriber">
              <parameter
                    name="type"
                    value="2D">
              </parameter>
       	</describer>
		 <!--describer class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber2">
              <parameter
                    name="element"
                    value="{http://www.xml-cml.org/schema}molecule">
              </parameter>
       	</describer-->
           <!--describer
                   class="org.eclipse.emf.ecore.xmi.impl.RootXMLContentHandlerImpl$Describer">
              <parameter
                    name="namespace"
                    value="http://www.xml-cml.org/weee">
              </parameter>
           </describer-->
        </content-type>

        <content-type
              base-type="net.bioclipse.contenttypes.cml"
	          id="net.bioclipse.contenttypes.cml.molecule3d"
              name="CMLmoleculeContentType3D"
              priority="high">
		 <describer class="net.bioclipse.ui.contenttypes.CmlFileCoordinatesDescriber">
              <parameter
                    name="type"
                    value="3D">
              </parameter>
       	</describer>
        </content-type>

        <content-type
              base-type="org.eclipse.core.runtime.text"
              file-extensions="pdb"
              id="net.bioclipse.contenttypes.pdb"
              name="PDBContentType"
              priority="high">
        </content-type>

        <content-type
              base-type="org.eclipse.core.runtime.text"
              file-extensions="sdf"
              id="net.bioclipse.contenttypes.sdf"
              name="SDFContentType"
              priority="high">
        </content-type>

        <content-type
              base-type="org.eclipse.core.runtime.text"
              file-extensions="mdl,mol"
              id="net.bioclipse.contenttypes.mdlMolFile2D"
              name="MdlMolfileContentType2D"
              priority="high">
		 <describer class="net.bioclipse.ui.contenttypes.MdlMolFileCoordinatesDescriber">
              <parameter
                    name="type"
                    value="2D">
              </parameter>
       	</describer>
        </content-type>

        <content-type
              base-type="org.eclipse.core.runtime.text"
              file-extensions="mdl,mol"
              id="net.bioclipse.contenttypes.mdlMolFile3D"
              name="MdlMolfileContentType3D"
              priority="high">
		 <describer class="net.bioclipse.ui.contenttypes.MdlMolFileCoordinatesDescriber">
              <parameter
                    name="type"
                    value="3D">
              </parameter>
       	</describer>
        </content-type>

     </extension>  



</plugin>
