<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension-point id="net.bioclipse.ui.r_provider" name="R Extension Point" schema="schema/net.bioclipse.ui.r-provider.exsd"/>
   <extension-point id="externalapp" name="External Application" schema="schema/externalapp.exsd"/>

	<extension
		point="org.eclipse.ui.contexts">
		<context
			name="Bioinfomatics"
			description="Bioinformatics"
			id="net.bioclipse.ui.contexts.bioinformatics">
		</context>
		<context
			name="Chemoinformatics"
			description="Chemoinformatics"
			id="net.bioclipse.ui.contexts.chemoinformatics">
		</context>
   </extension>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="net.bioclipse.ui.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Default"
            class="net.bioclipse.ui.DefaultPerspective"
            icon="icons/logo/logo_16_trans.gif"
            id="net.bioclipse.ui.Perspective">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="Bioclipse"
            description="The Bioclipse workbench for life science"
            application="net.bioclipse.ui.application">
         <property
               name="windowImages"
               value="icons/logo/logo_16_trans.gif,icons/logo/logo_32_trans.gif,icons/logo/logo_48.gif,icons/logo/logo_64.gif,icons/logo/logo_128.gif">
         </property>
         <property
               name="appName"
               value="Bioclipse">
         </property>
         <property
               name="startupForegroundColor"
               value="C7E1E6">
         </property>
         <property
               name="startupMessageRect"
               value="7,252,445,20">
         </property>
         <property
               name="startupProgressRect"
               value="5,290,445,15">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="aboutImage"
               value="icons/logo/abot_img.gif">
         </property>
         <property
               name="aboutText"
               value="Version: 2.0.0.A20080808&#x0A;&#x0A;Copyright (c) 2005-2008 Bioclipse Project&#x0A; All rights reserved. This program and the accompanying materials&#x0A; are made available under the terms of the Eclipse Public License v1.0&#x0A; which accompanies this distribution, and is available at&#x0A; http://www.eclipse.org/legal/epl-v10.html&#x0A;&#x0A; Main contributors:&#x0A;   Ola Spjuth&#x0A;   Jonathan Alvarsson&#x0A;   Carl Mäsak&#x0A;   Arvid Berg&#x0A;   Eskil Anderssen&#x0A;   Egon Willighagen&#x0A;   Johannes Wagener&#x0A;   Stefan Kuhn&#x0A;   Martin Eklund&#x0A;   Christoph Steinbeck&#x0A;   Jarl E.S. Wikberg&#x0A;&#x0A;See http://www.bioclipse.net for more information">
         </property>
          <property
            name="introTitle"
            value="Welcome to Bioclipse 2.0 beta"/>
      <property
            name="introBrandingImage"
            value="product:bioclipse.png"/>
      <property
            name="introBrandingImageText"
            value="The Bioclipse Team"/>
         
      </product>
   </extension>
   
   <extension
         point="org.eclipse.ui.intro">
      <intro
            class="org.eclipse.ui.intro.config.CustomizableIntroPart"
            id="net.bioclipse.ui.intro">
      </intro>
      <introProductBinding
            introId="org.eclipse.ui.intro.universal"
            productId="net.bioclipse.ui.product">
      </introProductBinding>
   </extension>
   
   <!--extension
         point="org.eclipse.ui.intro.config">
      <config
            introId="net.bioclipse.ui.intro"
            content="introContent.xml"
            id="net.bioclipse.ui.configId">
         <presentation
               home-page-id="root">
            <implementation
                  kind="html"
                  os="win32,linux,macosx">
            </implementation>
         </presentation>
      </config>
   </extension-->
   
      <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.ui.preferencePages.Workbench"
            class="org.eclipse.ui.intro.universal.ExtensionFactory:welcomeCustomization"
            id="net.bioclipse.intro.introCustomization"
            name="Welcome">
         <keywordReference id="org.eclipse.ui.ide.appearance"/>
      </page>
   </extension>
   
      <extension
         point="org.eclipse.ui.intro.configExtension">
     <standbyContentPart
            id="net.bioclipse.cheatsheet"
            class="net.bioclipse.ui.CheatSheetStandbyContent"
            pluginId="net.bioclipse.ui"/>
      <configExtension
            content="intro/overview.xml"
            configId="org.eclipse.ui.intro.universalConfig">
      </configExtension>
      <configExtension
            content="intro/firststeps.xml"
            configId="org.eclipse.ui.intro.universalConfig">
      </configExtension>
      <configExtension
            content="intro/tutorials.xml"
            configId="org.eclipse.ui.intro.universalConfig">
      </configExtension>
      <configExtension
            content="intro/webresources.xml"
            configId="org.eclipse.ui.intro.universalConfig">
      </configExtension>
      
   </extension>
   
   <extension
          point="org.eclipse.ui.views">
         <category
               id="net.bioclipse.ui.category"
               name="Bioclipse">
         </category>
      <view
            name="Bioclipse Navigator"
            category="net.bioclipse.ui.category"
            allowMultiple="false"
            icon="icons/logo/logo_16_trans.gif"
            class="org.eclipse.ui.navigator.CommonNavigator"
            id="net.bioclipse.navigator">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer 
            viewerId="net.bioclipse.navigator">
         <popupMenu 
               allowsPlatformContributions="true"
               id="net.bioclipse.navigator#PopupMenu">
            <insertionPoint 
                  name="group.new">
            </insertionPoint>
            <insertionPoint
                  name="group.open"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="group.openWith">
            </insertionPoint>
            <insertionPoint
                  name="group.edit"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="group.reorganize">
            </insertionPoint>
            <insertionPoint
                  name="group.port"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="group.build"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="group.generate"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="group.search"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="additions"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="group.properties"
                  separator="true">
            </insertionPoint>
         </popupMenu>
      </viewer>
      <viewerContentBinding
            viewerId="net.bioclipse.navigator">
         <includes>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resourceContent">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.filters.*">
            </contentExtension>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding
            viewerId="net.bioclipse.navigator">
         <includes>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.*">
            </actionExtension>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.NewActions">
            </actionExtension>
         </includes>
      </viewerActionBinding>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="net.bioclipse.ui.editors.XMLEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            extensions="xml,cml"
            icon="icons/logo/logo_16_trans.gif"
            id="net.bioclipse.ui.editors.XMLEditor"
            default="false"
            name="XML-Lite Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            class="org.eclipse.ui.internal.navigator.resources.workbench.TabbedPropertySheetAdapterFactory"
            adaptableType="org.eclipse.ui.navigator.CommonNavigator">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySheetPage">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="net.bioclipse.navigator"
            labelProvider="org.eclipse.ui.internal.navigator.resources.workbench.TabbedPropertySheetTitleProvider">
         <propertyCategory
               category="general">
         </propertyCategory>
         <propertyCategory
               category="core">
         </propertyCategory>
         <propertyCategory
               category="appearance">
         </propertyCategory>
         <propertyCategory
               category="advanced">
         </propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="net.bioclipse.navigator">
         <propertyTab
               label="General"
               category="general"
               id="CommonNavigator.tab.Advanced">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="net.bioclipse.navigator">
         <propertySection
               tab="CommonNavigator.tab.Advanced"
               class="org.eclipse.ui.views.properties.tabbed.AdvancedPropertySection"
               id="CommonNavigator.section.Advanced">
            <input
                  type="java.lang.Object">
            </input>
         </propertySection>
      </propertySections>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="Cheat Sheets"
            visible="true"
            id="org.eclipse.ui.cheatsheets.actionSet">
         <action
               label="Cheat Sheets"
               class="org.eclipse.ui.internal.cheatsheets.actions.CheatSheetHelpMenuAction"
               menubarPath="help/helpStart"
               id="org.eclipse.ui.cheatsheets.actions.CheatSheetHelpMenuAction">
         </action>
      </actionSet>
   </extension>


   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="net.bioclipse.ui.prefs.UIPreferenceInitializer">
      </initializer>
   </extension>
   
   <extension point="org.eclipse.ui.preferencePages">
    	<page id="net.bioclipse.preferences.UpdateSitesPreferencePage"
  	      	name="Update Sites"
	      	class="net.bioclipse.ui.prefs.UpdateSitesPreferencePage">
	   	</page>
   </extension>
   
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true">
      </toc>
      <toc
            file="tocdevelopers.xml">
      </toc>
      <toc
            file="toctutorials.xml">
      </toc>
   </extension>


  <!--extension
        point="org.eclipse.ui.importWizards">
     <wizard
           category="org.eclipse.ui.basic"
           class="net.bioclipse.ui.importWizards.FileImportWizard"
           icon="icons/sample.gif"
           id="net.bioclipse.ui.importWizards.FileImportWizard"
           name="Import single file">
        <description>
           Import a file from the local file system into the workspace.
        </description>
     </wizard>
  </extension-->
  
  <!--extension point="org.eclipse.ui.actionSets">
    <actionSet label="Search..."
               visible="true"
               id="net.bioclipse.search.search">
      <action label="Search..."
              class="net.bioclipse.ui.actions.SearchAction"
              menubarPath="edit/search.ext"
              id="net.bioclipse.actions.SearchAction">
      </action>
    </actionSet>
  </extension-->


   <extension
         id="net.bioclipse.tutorials"
         point="org.eclipse.ui.cheatsheets.cheatSheetContent">
      <category
            id="net.bioclipse.cheatsheets.workbench"
            name="Bioclipse workbench"/>
      <cheatsheet
            category="net.bioclipse.cheatsheets.workbench"
            composite="false"
            contentFile="cheatsheets/usingWorkbench.xml"
            id="net.bioclipse.cheatsheets.basics"
            name="Using the Bioclipse Workbench"/>
   </extension>


<extension point="org.eclipse.ui.activities">
	<activity
	  id="forbiddenViewActivityId"
	  name="Forbidden View Activity"/>
	<activityPatternBinding
	  activityId="forbiddenViewActivityId"
	  pattern="org.eclipse.ui.ide/org.eclipse.ui.views.BookmarkView">
	</activityPatternBinding>
	<activityPatternBinding
	  activityId="forbiddenViewActivityId"
	  pattern="org.eclipse.ui.ide/org.eclipse.ui.views.TaskList">
	</activityPatternBinding>
	<activityPatternBinding
	  activityId="forbiddenViewActivityId"
	  pattern="org.eclipse.ui.ide/org.eclipse.ui.views.ProblemView">
	</activityPatternBinding>
	<activityPatternBinding
	  activityId="forbiddenViewActivityId"
	  pattern="org.eclipse.ui.ide/org.eclipse.ui.views.AllMarkersView">
	</activityPatternBinding>
	<activityPatternBinding
	  activityId="forbiddenViewActivityId"
	  pattern="org.eclipse.ui.ide/org.eclipse.ui.views.ResourceNavigator">
	</activityPatternBinding>
	<activityPatternBinding
	  activityId="forbiddenViewActivityId"
	  pattern="org.eclipse.ui.navigator.resources/org.eclipse.ui.navigator.ProjectExplorer">
	</activityPatternBinding>
	
</extension>

</plugin>
