<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="bioclipse-2.5">
<locations>
<location path="${workspace_loc:/net.bioclipse.target.platform}/logging" type="Directory"/>
<location path="${workspace_loc:/net.bioclipse.target.platform}/libs" type="Directory"/>
<location path="${workspace_loc:/net.bioclipse.target.platform}/spring-osgi-1.0.2/dist" type="Directory"/>
<location path="${workspace_loc:/net.bioclipse.target.platform}/spring-osgi-1.0.2/lib" type="Directory"/>
<location includeAllPlatforms="false" includeMode="planner" type="InstallableUnit">
<unit id="org.eclipse.platform.sdk" version="3.6.1.M20100909-0800"/>
<unit id="org.eclipse.rcp.sdk.id" version="3.6.0.M20100909-0800"/>
<unit id="org.eclipse.emf.ecoretools.sdk.feature.group" version="0.10.0.v20100615-1639"/>
<unit id="org.eclipse.emf.sdk.feature.group" version="2.6.1.v20100914-1218"/>
<unit id="org.eclipse.equinox.compendium.sdk.feature.group" version="3.6.0.v20100421-7V7RFiwFLSgEt4Pctn77c7J"/>
<unit id="org.eclipse.equinox.core.sdk.feature.group" version="3.6.0.v20100603-7sF99FsHFTw8HQBta4g33J3F"/>
<unit id="org.eclipse.equinox.p2.sdk.feature.group" version="3.6.0.v20100503-9I7VGAeG8tz-BY6jz0w2HLRYr"/>
<unit id="org.eclipse.equinox.serverside.sdk.feature.group" version="3.6.0.v20100421-7u7NFVgFN5JdPKPhDHd_6Yqc54uw"/>
<unit id="org.eclipse.draw2d.sdk.feature.group" version="3.6.1.v20100908-1100-7A7G18yE5F-8K8N4I8E558B48x42"/>
<unit id="org.eclipse.gef.sdk.feature.group" version="3.6.1.v20100908-1100-7G7R2A5WNcBQPZgXAHiSXMXYaKPI"/>
<unit id="org.eclipse.zest.sdk.feature.group" version="1.2.0.v20100519-2050-67908COKMFAKPYIEUdUVWhXYN8VN"/>
<unit id="org.eclipse.mylyn.sdk_feature.feature.group" version="3.4.2.v20100916-0100-e3x-8j9F7LFXiI9j9DENrbFi96Z"/>
<unit id="org.eclipse.wst.xml_core.feature.feature.group" version="3.2.2.v201008170029-7C7OFXYF7RZHQHI5PyJwPT"/>
<unit id="org.eclipse.wst.xml_userdoc.feature.feature.group" version="3.2.100.v201005241420-50FXNAkF7B77RBgFFBF"/>
<repository location="http://download.eclipse.org/releases/helios"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" type="InstallableUnit">
<unit id="nu.psnet.quickimage.feature.group" version="1.0.3.2"/>
<repository location="http://psnet.nu/eclipse/updates"/>
</location>
</locations>
</target>
