<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="Spring-osgi-1.0.2">
<locations>
<location path="${project_loc:/net.bioclipse.target.platform}/logging" type="Directory"/>
<location path="${project_loc:net.bioclipse.target.platform}/libs" type="Directory"/>
<location includeAllPlatforms="true" includeMode="slicer" type="InstallableUnit">
<unit id="nu.psnet.quickimage.feature.group" version="1.0.3.2"/>
<repository location="http://psnet.nu/eclipse/updates"/>
</location>
<location path="${project_loc:net.bioclipse.target.platform}/spring-osgi-1.0.2/dist" type="Directory"/>
<location path="${project_loc:net.bioclipse.target.platform}/spring-osgi-1.0.2/lib" type="Directory"/>
<location includeAllPlatforms="true" includeMode="slicer" type="InstallableUnit">
<unit id="org.eclipse.platform.ide" version="3.6.1.M20100909-0800"/>
<unit id="org.eclipse.platform.sdk" version="3.6.1.M20100909-0800"/>
<unit id="org.eclipse.rcp.feature.group" version="3.6.1.r361_v20100827-9OArFLdFjY-ThSQXmKvKz0_T"/>
<unit id="org.eclipse.rcp.source.feature.group" version="3.6.1.r361_v20100827-9OArFLdFjY-ThSQXmKvKz0_T"/>
<repository location="http://download.eclipse.org/eclipse/updates/3.6"/>
</location>
<location includeAllPlatforms="true" includeMode="slicer" type="InstallableUnit">
<unit id="org.eclipse.pde.junit.runtime.addon.feature.group" version="1.0.0.v20100831"/>
<unit id="org.eclipse.pde.junit.runtime.standalone.feature.group" version="1.0.0.v20100831"/>
<repository location="http://download.eclipse.org/releases/helios"/>
</location>
<location includeAllPlatforms="true" includeMode="slicer" type="InstallableUnit">
<unit id="org.junit4" version="4.8.1.v20100525"/>
<unit id="org.eclipse.wst.xml.core" version="1.1.502.v201009010342"/>
<unit id="org.eclipse.wst.xml_core.feature.feature.group" version="3.2.2.v201008170029-7C7OFXYF7RZHQHI5PyJwPT"/>
<unit id="org.eclipse.wst.xml_ui.feature.feature.group" version="3.2.2.v201008170029-7H7AFUQDxumQGOpBqffOY2f1qxDZ"/>
<unit id="org.eclipse.zest.feature.group" version="1.2.0.v20100519-2050-67808yE5F-8HAH4HECF4242"/>
<unit id="org.eclipse.zest.sdk.feature.group" version="1.2.0.v20100519-2050-67908COKMFAKPYIEUdUVWhXYN8VN"/>
<unit id="org.eclipse.emf.edit.feature.group" version="2.6.0.v20100914-1218"/>
<unit id="org.eclipse.emf.ecore.edit.feature.group" version="2.6.0.v20100914-1218"/>
<unit id="org.eclipse.emf.ecore.edit.source.feature.group" version="2.6.0.v20100914-1218"/>
<unit id="org.eclipse.emf.ecore.editor.source.feature.group" version="2.6.0.v20100914-1218"/>
<unit id="org.eclipse.emf.ecore.editor.feature.group" version="2.6.0.v20100914-1218"/>
<unit id="org.eclipse.emf.ecore.feature.group" version="2.6.1.v20100914-1218"/>
<unit id="org.eclipse.emf.databinding.feature.group" version="1.2.0.v20100914-1218"/>
<unit id="org.eclipse.emf.databinding.source.feature.group" version="1.2.0.v20100914-1218"/>
<unit id="org.eclipse.emf.databinding.edit.source.feature.group" version="1.2.0.v20100914-1218"/>
<unit id="org.eclipse.emf.databinding.edit.feature.group" version="1.2.0.v20100914-1218"/>
<unit id="org.eclipse.emf.edit.ui.feature.group" version="2.6.0.v20100914-1218"/>
<unit id="org.eclipse.emf.edit.ui.source.feature.group" version="2.6.0.v20100914-1218"/>
<unit id="org.eclipse.emf.common.source.feature.group" version="2.6.0.v20100914-1218"/>
<unit id="org.eclipse.emf.common.feature.group" version="2.6.0.v20100914-1218"/>
<unit id="org.eclipse.emf.common.ui.feature.group" version="2.6.0.v20100914-1218"/>
<unit id="org.eclipse.emf.common.ui.source.feature.group" version="2.6.0.v20100914-1218"/>
<repository location="http://download.eclipse.org/releases/helios"/>
</location>
</locations>
</target>
