<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="Bioclipse (Eclipse 4.5)" sequenceNumber="203">
<locations>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.rcp.id" version="4.5.2.M20160212-1500"/>
<unit id="org.eclipse.equinox.p2.discovery.feature.feature.group" version="1.0.300.v20150430-1836"/>
<unit id="org.eclipse.equinox.weaving.sdk.feature.group" version="1.1.100.v20150430-1834"/>
<unit id="org.eclipse.equinox.sdk.feature.group" version="3.11.2.v20160202-2102"/>
<unit id="org.eclipse.equinox.p2.extras.feature.source.feature.group" version="1.2.101.v20160129-0947"/>
<unit id="org.eclipse.equinox.executable.feature.group" version="3.6.200.v20150602-1417"/>
<unit id="org.eclipse.rcp.sdk.id" version="4.5.2.M20160212-1500"/>
<unit id="org.eclipse.equinox.compendium.sdk.feature.group" version="3.11.0.v20150430-1834"/>
<unit id="org.eclipse.equinox.p2.sdk.feature.group" version="3.9.101.v20160212-1721"/>
<unit id="org.eclipse.sdk.ide" version="4.5.2.M20160212-1500"/>
<unit id="org.eclipse.equinox.p2.rcp.feature.feature.group" version="1.2.101.v20150826-1318"/>
<unit id="org.eclipse.equinox.p2.core.feature.source.feature.group" version="1.3.100.v20150527-1706"/>
<unit id="org.eclipse.platform.sdk" version="4.5.2.M20160212-1500"/>
<repository location="http://pele.farmbio.uu.se/bioclipse/eclipse/4.5"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.apache.commons.math" version="3.0.0"/>
<unit id="net.sf.jniinchi" version="0.7.0"/>
<unit id="org.xmlpull.xpp3" version="1.1.4.c"/>
<unit id="cmlxom" version="2.5.0.b1"/>
<unit id="org.3pq.jgrapht" version="0.6.0"/>
<unit id="org.jama" version="1.0.2"/>
<unit id="signatures" version="1.1.0"/>
<unit id="javax.vecmath" version="1.2.1.14"/>
<repository location="http://pele.farmbio.uu.se/bioclipse/cdk"/>
</location>
<location path="${project_loc:/net.bioclipse.target.platform}/spring-osgi-1.0.2/lib" type="Directory"/>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.apache.commons.compress" version="1.6.0.v201310281400"/>
<unit id="org.apache.httpcomponents.httpcore.nio.source" version="4.1.0.v201101201700"/>
<unit id="org.apache.tika.parsers.source" version="1.3.0.v201304162128"/>
<unit id="org.apache.lucene.spellchecker.source" version="3.5.0.v20120725-1805"/>
<unit id="org.apache.commons.lang3" version="3.1.0.v201403281430"/>
<unit id="org.apache.commons.fileupload" version="1.2.2.v20111214-1400"/>
<unit id="org.apache.commons.collections" version="3.2.0.v2013030210310"/>
<unit id="org.apache.commons.io" version="2.2.0.v201405211200"/>
<unit id="org.apache.batik.xml" version="1.7.0.v201011041433"/>
<unit id="org.apache.jasper" version="7.0.47.v201312060745"/>
<unit id="org.apache.geronimo.specs.osgi.registry.source" version="1.1.0.v201205170710"/>
<unit id="org.apache.xbean.finder.source" version="3.12.0.v201304201405"/>
<unit id="org.apache.cassandra.source" version="0.7.0.v20110412-1025"/>
<unit id="org.apache.batik.xml.source" version="1.7.0.v201011041433"/>
<unit id="org.apache.openejb.jee" version="4.0.0.beta-2_v201205041336"/>
<unit id="org.apache.tomcat.websocket" version="7.0.47.v201312060745"/>
<unit id="org.apache.hadoop.zookeeper.tests" version="3.4.2.v20130207-1855"/>
<unit id="org.apache.geronimo.components.transaction" version="3.1.1.v201205170710"/>
<unit id="org.apache.felix.gogo.shell.source" version="0.10.0.v201212101605"/>
<unit id="org.apache.batik.ext.awt" version="1.7.0.v201011041433"/>
<unit id="org.apache.openwebbeans.ejb.source" version="1.1.7.v201304200545"/>
<unit id="org.apache.bsf.source" version="2.4.0.v201103030230"/>
<unit id="org.apache.el" version="7.0.47.v201312021000"/>
<unit id="org.apache.xmlgraphics" version="1.4.0.v201301251218"/>
<unit id="org.apache.xml.security" version="1.4.2.v201005080400"/>
<unit id="org.apache.ant.source" version="1.9.2.v201404171502"/>
<unit id="javax.websocket.source" version="1.0.0.v20140310-1603"/>
<unit id="org.apache.batik.parser.source" version="1.7.0.v201011041433"/>
<unit id="org.apache.commons.cli.source" version="1.2.0.v201404270220"/>
<unit id="org.apache.poi.ooxml.schemas.source" version="3.9.0.v201405241750"/>
<unit id="org.apache.sshd.core.source" version="0.7.0.v201303101611"/>
<unit id="org.apache.batik.svggen" version="1.7.0.v201011041433"/>
<unit id="org.apache.commons.net.source" version="3.2.0.v201305141515"/>
<unit id="org.apache.batik.transcoder.source" version="1.7.0.v201011041433"/>
<unit id="org.apache.solr.client.solrj.source" version="3.5.0.v20120530-0900"/>
<unit id="org.apache.xbean.bundleutils" version="3.12.0.v201304200545"/>
<unit id="org.apache.commons.el" version="1.0.0.v201305101705"/>
<unit id="org.apache.catalina.ha.source" version="7.0.47.v201312060745"/>
<unit id="org.apache.lucene.grouping.source" version="3.5.0.v20120725-1805"/>
<unit id="javax.activation.source" version="1.1.0.v201211130549"/>
<unit id="org.apache.batik.bridge.source" version="1.7.0.v201011041433"/>
<unit id="org.apache.lucene.memory.source" version="3.5.0.v20120725-1805"/>
<unit id="org.apache.lucene.spatial.source" version="3.5.0.v20120725-1805"/>
<unit id="org.apache.commons.httpclient.source" version="3.1.0.v201012070820"/>
<unit id="org.apache.poi.source" version="3.9.0.v201405241750"/>
<unit id="org.apache.commons.beanutils.source" version="1.8.0.v201205091237"/>
<unit id="org.apache.openejb.javaagent.source" version="4.0.0.beta-2_v201205041047"/>
<unit id="org.apache.openwebbeans.ejb" version="1.1.7.v201304200545"/>
<unit id="org.apache.solr.common" version="1.4.0.v20100421-0704"/>
<unit id="org.apache.xbean.naming.source" version="3.12.0.v201304201405"/>
<unit id="org.apache.xml.serializer" version="2.7.1.v201005080400"/>
<unit id="org.apache.openejb.jee.source" version="4.0.0.beta-2_v201205041336"/>
<unit id="org.apache.tomcat.util" version="7.0.47.v201312060745"/>
<unit id="org.apache.oro.source" version="2.0.8.v201005080400"/>
<unit id="org.apache.openwebbeans.jsf" version="1.1.7.v201304201405"/>
<unit id="org.apache.openejb.api.source" version="4.0.0.beta-2_v201205041047"/>
<unit id="org.apache.poi.ooxml.source" version="3.9.0.v201405241905"/>
<unit id="org.apache.commons.daemon" version="1.0.5.v20121125-0905"/>
<unit id="org.apache.mina.core" version="2.0.7.v201401071602"/>
<unit id="org.apache.httpcomponents.httpcore.source" version="4.2.5.v201311072007"/>
<unit id="org.apache.commons.math.source" version="2.1.0.v201105210652"/>
<unit id="org.apache.lucene.misc.source" version="3.5.0.v20120725-1805"/>
<unit id="org.apache.lucene.spellchecker" version="3.5.0.v20120725-1805"/>
<unit id="org.apache.bcel.source" version="5.2.0.v201005080400"/>
<unit id="org.apache.juli.extras" version="7.0.47.v201312021000"/>
<unit id="org.apache.xbean.asm" version="3.12.0.v201304200545"/>
<unit id="org.apache.openejb.loader.source" version="4.0.0.beta-2_v201304191030"/>
<unit id="org.apache.openwebbeans.spi.source" version="1.1.7.v201304201405"/>
<unit id="org.apache.commons.beanutils" version="1.8.0.v201205091237"/>
<unit id="org.apache.commons.pool.source" version="1.6.0.v201204271246"/>
<unit id="org.apache.commons.codec.source" version="1.6.0.v201305230611"/>
<unit id="org.apache.catalina" version="7.0.47.v201312051530"/>
<unit id="org.apache.catalina.ha" version="7.0.47.v201312060745"/>
<unit id="org.apache.lucene.core.source" version="3.5.0.v20120725-1805"/>
<unit id="org.apache.commons.jxpath.source" version="1.3.0.v200911051830"/>
<unit id="org.apache.batik.pdf" version="1.6.0.v201105071520"/>
<unit id="org.apache.openwebbeans.ee.source" version="1.1.7.v201304200545"/>
<unit id="org.apache.bsf" version="2.4.0.v201103030230"/>
<unit id="org.apache.lucene" version="3.5.0.v20120725-1805"/>
<unit id="org.apache.thrift.source" version="0.5.0.v20110412-1025"/>
<unit id="org.apache.commons.daemon.source" version="1.0.5.v20121125-0905"/>
<unit id="org.apache.commons.compress.source" version="1.6.0.v201310281400"/>
<unit id="org.apache.ws.jaxme" version="0.5.1.v20100427-1100"/>
<unit id="org.apache.batik.css" version="1.7.0.v201011041433"/>
<unit id="org.apache.coyote" version="7.0.47.v201312060745"/>
<unit id="org.apache.httpcomponents.httpcore" version="4.2.5.v201311072007"/>
<unit id="org.apache.openwebbeans.tomcat7" version="1.1.7.v201304201405"/>
<unit id="org.apache.thrift" version="0.5.0.v20110412-1025"/>
<unit id="org.apache.lucene.memory" version="3.5.0.v20120725-1805"/>
<unit id="org.apache.batik.swing" version="1.7.0.v201302011158"/>
<unit id="org.apache.log4j.source" version="1.2.15.v201012070815"/>
<unit id="org.apache.commons.io.source" version="2.2.0.v201405211200"/>
<unit id="org.apache.batik.util" version="1.7.0.v201011041433"/>
<unit id="org.apache.openwebbeans.spi" version="1.1.7.v201304201405"/>
<unit id="org.apache.neethi" version="2.0.4.1"/>
<unit id="org.apache.geronimo.specs.j2ee.management" version="1.0.0.v201205091237"/>
<unit id="org.apache.commons.lang" version="2.6.0.v201404270220"/>
<unit id="org.apache.commons.jxpath" version="1.3.0.v200911051830"/>
<unit id="org.apache.lucene.snowball.source" version="2.9.1.v20100421-0704"/>
<unit id="org.apache.el.source" version="7.0.47.v201312021000"/>
<unit id="org.apache.geronimo.specs.osgi.locator.source" version="1.1.0.v201205170953"/>
<unit id="org.apache.axis" version="1.4.0.v201005080400"/>
<unit id="org.apache.lucene.highlighter" version="3.5.0.v20121015-1317"/>
<unit id="org.apache.xbean.reflect.source" version="3.12.0.v201304201405"/>
<unit id="org.apache.hadoop.zookeeper.tests.source" version="3.4.2.v20130207-1855"/>
<unit id="org.apache.batik.dom.svg" version="1.7.0.v201011041433"/>
<unit id="org.apache.lucene.spatial" version="3.5.0.v20120725-1805"/>
<unit id="org.apache.batik.dom.svg.source" version="1.7.0.v201011041433"/>
<unit id="org.apache.batik.util.source" version="1.7.0.v201011041433"/>
<unit id="org.apache.batik.dom.source" version="1.7.0.v201011041433"/>
<unit id="org.apache.bcel" version="5.2.0.v201005080400"/>
<unit id="org.apache.lucene.misc" version="3.5.0.v20120725-1805"/>
<unit id="org.apache.tomcat.websocket.source" version="7.0.47.v201312060745"/>
<unit id="org.apache.felix.gogo.shell" version="0.10.0.v201212101605"/>
<unit id="org.apache.solr.servlet" version="1.4.0.v20100421-0704"/>
<unit id="org.apache.xerces" version="2.9.0.v201101211617"/>
<unit id="org.apache.commons.cli" version="1.2.0.v201404270220"/>
<unit id="org.apache.coyote.source" version="7.0.47.v201312060745"/>
<unit id="org.apache.mina.filter.compression" version="2.0.7.v201401141305"/>
<unit id="org.apache.ws.commons.schema" version="1.4.2.v201003051240"/>
<unit id="org.apache.openejb.loader" version="4.0.0.beta-2_v201304191030"/>
<unit id="org.apache.lucene.source" version="3.5.0.v20120725-1805"/>
<unit id="org.apache.solr.core.source" version="3.5.0.v20120530-0900"/>
<unit id="org.apache.commons.fileupload.source" version="1.2.2.v20111214-1400"/>
<unit id="org.apache.lucene.analysis" version="3.5.0.v20120725-1805"/>
<unit id="org.apache.batik.bridge" version="1.7.0.v201011041433"/>
<unit id="org.apache.openwebbeans.ee.common.source" version="1.1.7.v201304201405"/>
<unit id="org.apache.batik.dom" version="1.7.0.v201011041433"/>
<unit id="org.apache.felix.gogo.runtime.source" version="0.10.0.v201209301036"/>
<unit id="org.apache.batik.extension" version="1.7.0.v201011041433"/>
<unit id="org.apache.commons.pool" version="1.6.0.v201204271246"/>
<unit id="org.apache.httpcomponents.httpclient.source" version="4.2.6.v201311072007"/>
<unit id="org.apache.commons.net" version="3.2.0.v201305141515"/>
<unit id="org.apache.poi.ooxml" version="3.9.0.v201405241905"/>
<unit id="org.apache.commons.el.source" version="1.0.0.v201305101705"/>
<unit id="org.apache.geronimo.specs.j2ee.management.source" version="1.0.0.v201205091237"/>
<unit id="org.apache.solr.client.solrj.embedded" version="1.4.0.v20100421-0704"/>
<unit id="javax.activation" version="1.1.0.v201211130549"/>
<unit id="org.apache.openwebbeans.tomcat7.source" version="1.1.7.v201304201405"/>
<unit id="org.apache.catalina.tribes.source" version="7.0.47.v201312060745"/>
<unit id="org.apache.mina.core.source" version="2.0.7.v201401071602"/>
<unit id="org.apache.xbean.bundleutils.source" version="3.12.0.v201304200545"/>
<unit id="org.apache.felix.gogo.command.source" version="0.10.0.v201209301215"/>
<unit id="org.apache.openwebbeans.jsf.source" version="1.1.7.v201304201405"/>
<unit id="org.apache.poi" version="3.9.0.v201405241750"/>
<unit id="org.apache.velocity" version="1.5.0.v200905192330"/>
<unit id="org.apache.solr.client.solrj.embedded.source" version="1.4.0.v20100421-0704"/>
<unit id="org.apache.openwebbeans.web.source" version="1.1.7.v201304201405"/>
<unit id="org.apache.solr.core" version="3.5.0.v20120530-0900"/>
<unit id="org.apache.felix.gogo.runtime" version="0.10.0.v201209301036"/>
<unit id="org.apache.log4j" version="1.2.15.v201012070815"/>
<unit id="org.apache.xmlrpc" version="3.0.0.v20100427-1100"/>
<unit id="org.apache.commons.logging" version="1.1.1.v201101211721"/>
<unit id="org.apache.openwebbeans.ee.common" version="1.1.7.v201304201405"/>
<unit id="org.apache.tomcat.util.source" version="7.0.47.v201312060745"/>
<unit id="org.apache.commons.collections.source" version="3.2.0.v2013030210310"/>
<unit id="org.apache.juli.extras.source" version="7.0.47.v201312021000"/>
<unit id="org.apache.ant" version="1.9.2.v201404171502"/>
<unit id="org.apache.batik.css.source" version="1.7.0.v201011041433"/>
<unit id="org.apache.mina.filter.compression.source" version="2.0.7.v201401141305"/>
<unit id="org.apache.commons.httpclient" version="3.1.0.v201012070820"/>
<unit id="org.apache.tika.core" version="1.3.0.v201304160510"/>
<unit id="org.apache.commons.lang3.source" version="3.1.0.v201403281430"/>
<unit id="org.apache.batik.extension.source" version="1.7.0.v201011041433"/>
<unit id="org.apache.openwebbeans.impl" version="1.1.7.v201304201405"/>
<unit id="org.apache.openwebbeans.impl.source" version="1.1.7.v201304201405"/>
<unit id="org.apache.tomcat.api.source" version="7.0.47.v201312061105"/>
<unit id="org.apache.openejb.javaagent" version="4.0.0.beta-2_v201205041047"/>
<unit id="org.apache.geronimo.components.connector.source" version="3.1.1.v201205170953"/>
<unit id="org.apache.commons.dbcp.source" version="1.4.0.v201204271417"/>
<unit id="org.apache.batik.util.gui.source" version="1.7.0.v200903091627"/>
<unit id="org.apache.lucene.analysis.source" version="3.5.0.v20120725-1805"/>
<unit id="org.apache.openejb.core" version="4.0.0.beta-2_v201205260545"/>
<unit id="org.apache.geronimo.components.connector" version="3.1.1.v201205170953"/>
<unit id="org.apache.batik.transcoder" version="1.7.0.v201011041433"/>
<unit id="org.apache.hadoop.zookeeper" version="3.4.5.v20121214-1350"/>
<unit id="org.apache.tika.core.source" version="1.3.0.v201304160510"/>
<unit id="org.apache.poi.ooxml.schemas" version="3.9.0.v201405241750"/>
<unit id="org.apache.solr.client.solrj" version="3.5.0.v20120530-0900"/>
<unit id="org.apache.httpcomponents.httpcore.nio" version="4.1.0.v201101201700"/>
<unit id="org.apache.tomcat.api" version="7.0.47.v201312061105"/>
<unit id="org.apache.geronimo.specs.osgi.locator" version="1.1.0.v201205170953"/>
<unit id="org.apache.batik.parser" version="1.7.0.v201011041433"/>
<unit id="org.apache.commons.dbcp" version="1.4.0.v201204271417"/>
<unit id="org.apache.batik.ext.awt.source" version="1.7.0.v201011041433"/>
<unit id="org.apache.commons.math" version="2.1.0.v201105210652"/>
<unit id="org.apache.batik.svggen.source" version="1.7.0.v201011041433"/>
<unit id="org.apache.lucene.queries" version="3.5.0.v20120725-1805"/>
<unit id="org.apache.openejb.api" version="4.0.0.beta-2_v201205041047"/>
<unit id="org.apache.commons.exec" version="1.1.0.v201301240602"/>
<unit id="org.apache.lucene.grouping" version="3.5.0.v20120725-1805"/>
<unit id="org.apache.bval" version="0.3.0.v201205161050"/>
<unit id="org.apache.xbean.naming" version="3.12.0.v201304201405"/>
<unit id="org.apache.openwebbeans.ee" version="1.1.7.v201304200545"/>
<unit id="org.apache.jasper.source" version="7.0.47.v201312060745"/>
<unit id="org.apache.solr.common.source" version="1.4.0.v20100421-0704"/>
<unit id="org.apache.batik.swing.source" version="1.7.0.v201302011158"/>
<unit id="org.apache.openejb.core.source" version="4.0.0.beta-2_v201205260545"/>
<unit id="org.apache.geronimo.specs.osgi.registry" version="1.1.0.v201205170710"/>
<unit id="org.apache.felix.gogo.command" version="0.10.0.v201209301215"/>
<unit id="org.apache.commons.lang.source" version="2.6.0.v201404270220"/>
<unit id="org.apache.bval.source" version="0.3.0.v201205161050"/>
<unit id="org.apache.batik.util.gui" version="1.7.0.v200903091627"/>
<unit id="org.apache.xbean.reflect" version="3.12.0.v201304201405"/>
<unit id="org.apache.lucene.highlighter.source" version="3.5.0.v20121015-1317"/>
<unit id="org.apache.cassandra" version="0.7.0.v20110412-1025"/>
<unit id="org.apache.openwebbeans.web" version="1.1.7.v201304201405"/>
<unit id="org.apache.geronimo.components.transaction.source" version="3.1.1.v201205170710"/>
<unit id="org.apache.commons.logging.source" version="1.1.1.v201101211721"/>
<unit id="org.apache.oro" version="2.0.8.v201005080400"/>
<unit id="org.apache.lucene.queries.source" version="3.5.0.v20120725-1805"/>
<unit id="org.apache.sshd.core" version="0.7.0.v201303101611"/>
<unit id="org.apache.commons.exec.source" version="1.1.0.v201301240602"/>
<unit id="org.apache.httpcomponents.httpclient" version="4.2.6.v201311072007"/>
<unit id="org.apache.catalina.tribes" version="7.0.47.v201312060745"/>
<unit id="org.apache.xbean.finder" version="3.12.0.v201304201405"/>
<unit id="org.apache.xml.resolver" version="1.2.0.v201005080400"/>
<unit id="org.apache.commons.codec" version="1.6.0.v201305230611"/>
<unit id="org.apache.hadoop.zookeeper.source" version="3.4.5.v20121214-1350"/>
<unit id="org.apache.lucene.core" version="3.5.0.v20120725-1805"/>
<unit id="org.apache.derby" version="10.8.2.2_v201211210650"/>
<repository location="http://pele.farmbio.uu.se/bioclipse/eclipse/orbit-R20140525021250/"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="nu.psnet.quickimage.feature.group" version="1.0.3.2"/>
<repository location="http://pele.farmbio.uu.se/bioclipse/eclipse/psnet"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.e4.tools.e3x.bridge.feature.source.feature.group" version="0.14.0.v20140611-1610"/>
<unit id="org.eclipse.e4.tools.css.spy.feature.source.feature.group" version="0.14.0.v20140707-1917"/>
<unit id="org.eclipse.e4.tools.e3x.bridge.feature.feature.group" version="0.14.0.v20140611-1610"/>
<unit id="org.eclipse.e4.tools.css.spy.feature.feature.group" version="0.14.0.v20140707-1917"/>
<repository location="http://download.eclipse.org/e4/downloads/drops/S-0.16-201408072200/repository"/>
</location>
<location path="${project_loc:/net.bioclipse.target.platform}/libs" type="Directory"/>
<location path="${project_loc:/net.bioclipse.target.platform}/spring-osgi-1.0.2/dist" type="Directory"/>
<location path="${project_loc:/net.bioclipse.target.platform}/logging" type="Directory"/>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.emf.compare.source.feature.group" version="3.1.1.201509120604"/>
<unit id="org.eclipse.emf.ecore.feature.group" version="2.11.2.v20160208-0816"/>
<unit id="org.eclipse.emf.compare.feature.group" version="3.1.1.201509120604"/>
<unit id="org.eclipse.wst.ws_core.feature.feature.group" version="3.7.0.v201505131719"/>
<unit id="org.eclipse.zest.sdk.feature.group" version="1.6.1.201508170204"/>
<unit id="org.eclipse.zest.source.feature.group" version="1.6.1.201508170204"/>
<unit id="org.eclipse.emf.sdk.feature.group" version="2.11.2.v20160208-0841"/>
<unit id="org.eclipse.emf.common.feature.group" version="2.11.1.v20160208-0816"/>
<unit id="org.eclipse.zest.feature.group" version="1.6.1.201508170204"/>
<unit id="org.eclipse.wst.web_core.feature.feature.group" version="3.7.1.v201601132216"/>
<unit id="org.eclipse.wst.ws_userdoc.feature.feature.group" version="3.1.400.v201405061938"/>
<repository location="http://pele.farmbio.uu.se/bioclipse/eclipse/mars"/>
</location>
<location path="${project_loc:/net.bioclipse.target.platform}/utility" type="Directory"/>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="net.bioclipse.cdk.jcp" version="1.5.13.160531-172438"/>
<unit id="org.openscience.cdk_bundle" version="1.5.13.20160830_105149"/>
<unit id="beam-exec" version="0.9.1"/>
<repository location="http://pele.farmbio.uu.se/bioclipse/cdk/cdk-1.5.13/"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="de.walware.rj.servi.e.feature.group" version="2.0.5.b201604071800"/>
<unit id="de.walware.ecommons.e.feature.group" version="1.6.0.b201604071800"/>
<unit id="de.walware.rj.core.feature.group" version="2.0.5.b201604071800"/>
<unit id="de.walware.rj.eclient.feature.group" version="2.0.5.b201604071800"/>
<repository location="http://pele.farmbio.uu.se/bioclipse/2.6/walware"/>
</location>
</locations>
</target>
