<?xml version="1.0" encoding="UTF-8"?>
<?pde version="3.2"?>

<target name="Spring-osgi-1.0.2">

   <location useDefault="true"/>

   <content useAllPlugins="true">
      <plugins>
      </plugins>
      <features>
      </features>
      <extraLocations>
         <location path="${project_loc}/spring-osgi-1.0.2/dist"/>
         <location path="${project_loc}/libs"/>
         <location path="${project_loc}/spring-osgi-1.0.2/lib"/>
         <location path="${eclipse_home}/plugins"/>
         <location path="/home/${env_var:$USER_HOME}/.eclipse/org.eclipse.platform_3.5.0_155965261/plugins/"/>
      </extraLocations>
   </content>

</target>
