<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="net.bioclipse.scripting.contribution">
      <scriptContribution
            service="net.bioclipse.browser.tests.business.BrowserManagerFactory"
            id="net.bioclipse.browser.tests.business.BrowserManager">
      </scriptContribution>
   </extension>

</plugin>
