<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?before=help">
         <menu
               id="install"
               label="Install">
            <command
                  commandId="net.bioclipse.ui.install.ShowRepositoryCatalog"
                  label="New Feature..."
                  style="push">
               <parameter
                     name="org.eclipse.equinox.p2.ui.discovery.commands.RepositoryParameter"
                     value="http://pele.farmbio.uu.se/bioclipse/releases/2.6">
               </parameter>
               <parameter
                     name="net.bioclipse.ui.install.commands.RepositoryStrategyParameter"
                     value="net.bioclipse.ui.install.commands.ReleaseRepositoryDiscoveryStrategy">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.equinox.p2.ui.sdk.update"
                  label="Updates..."
                  style="push">
            </command>
            <command
                  commandId="net.bioclipse.ui.install.ShowRepositoryCatalog"
                  label="Data..."
                  style="push">
               <parameter
                     name="org.eclipse.equinox.p2.ui.discovery.commands.RepositoryParameter"
                     value="http://pele.farmbio.uu.se/bioclipse/data">
               </parameter>
               <parameter
                     name="net.bioclipse.ui.install.commands.RepositoryStrategyParameter"
                     value="net.bioclipse.ui.install.discovery.DataDiscoveryStrategy">
               </parameter>
            </command>
            <separator
                  name="additions"
                  visible="false">
            </separator>
            <separator
                  name="advanced">
            </separator>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="net.bioclipse.ui.install.commands.ShowRepositoryCatalogCommandHandler"
            id="net.bioclipse.ui.install.ShowRepositoryCatalog"
            name="Show Repository Catalog">
         <commandParameter
               id="org.eclipse.equinox.p2.ui.discovery.commands.RepositoryParameter"
               name="name"
               optional="false">
         </commandParameter>
         <commandParameter
               id="net.bioclipse.ui.install.commands.RepositoryStrategyParameter"
               name="strategy"
               optional="false">
         </commandParameter>
      </command>
      <commandParameterType
            converter="net.bioclipse.ui.install.commands.RepositoryDiscoveryStrategyParameterConverter"
            id="net.bioclipse.ui.install.commandParameterConverter"
            type="net.bioclipse.ui.install.discovery.BasicRepositoryDiscoveryStrategy">
      </commandParameterType>
   </extension>
</plugin>
