<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
         <view
               class="net.bioclipse.ui.search.BioclipseUISearchPart"
               id="net.bioclipse.search.BioclipseSearch"
               name="Search"
               category="net.bioclipse.ui.category"
               icon="icons/search-icon.png"
               allowMultiple="false"
               restorable="true">
         </view>
   </extension>
   
   <extension
         point="org.eclipse.ui.menus">
	<menuContribution
           locationURI="menu:org.eclipse.ui.main.menu">
           <menu 
            	id="net.bioclipse.ui.menu.search"
                label="Search">
           </menu>
     </menuContribution>
   </extension>
</plugin>