<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="net.bioclipse.cdk10.sdfeditor.editor.SDFEditor"
            contributorClass="net.bioclipse.cdk10.jchempaint.ui.editor.JCPMultiPageEditorContributor"
            icon="icons/molecule2D.png"
            id="net.bioclipse.cdk10.sdfeditor.editor.SDFEditor"
            name="SDF Editor">
            <contentTypeBinding
                  contentTypeId="net.bioclipse.contenttypes.sdf">
            </contentTypeBinding>
            <contentTypeBinding
                  contentTypeId="net.bioclipse.contenttypes.cml.multipleMolecule2d">
            </contentTypeBinding>
            <contentTypeBinding
                  contentTypeId="net.bioclipse.contenttypes.cml.multipleMolecule3d">
            </contentTypeBinding>
      </editor>
   </extension>


</plugin>
