<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="net.bioclipse.scripting.contribution">
      <scriptContribution
            service="net.bioclipse.business.test.business.BioclipsePlatformManagerFactory"
            id="net.bioclipse.business.test.business.BioclipsePlatformManager">
      </scriptContribution>
   </extension>

</plugin>
