<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="menus"
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:install?after=advanced">
         <separator
               name="advancedGroup"
               visible="true">
         </separator>
         <command
               commandId="org.eclipse.equinox.p2.ui.sdk.install"
               id="menus"
               label="Software from update site..."
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.activities">
      <activity
            description="Enabels some advanced features for Bioclipse"
            id="net.bioclipse.advancedMode"
            name="Advanced Mode">
         <enabledWhen>
            <with
                  variable="net.bioclipse.ui.advances.AdvancedState">
               <equals
                     value="Enabled">
               </equals>
            </with>
         </enabledWhen>
      </activity>
      <activityPatternBinding
            activityId="net.bioclipse.advancedMode"
            isEqualityPattern="false"
            pattern="net.bioclipse.ui.advanced/advancedGroup">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="net.bioclipse.advancedMode"
            isEqualityPattern="false"
            pattern="net.bioclipse.ui.advanced/menus">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="net.bioclipse.advancedMode"
            isEqualityPattern="false"
            pattern="org.eclipse.*/.*history.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="forbiddenViewActivityId"
            isEqualityPattern="false"
            pattern="org\.eclipse\.team.*/.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="forbiddenViewActivityId"
            isEqualityPattern="false"
            pattern="org.eclipse.compare.*/.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="forbiddenViewActivityId"
            isEqualityPattern="false"
            pattern=".*ruby.*/.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="forbiddenViewActivityId"
            isEqualityPattern="false"
            pattern="org.eclipse.*/.*compareWithMenu.*">
      </activityPatternBinding>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="net.bioclipse.ui.advanced.preferences.AdvancedPreferencePage"
            id="net.bioclipse.ui.advanced.preferences.AdvancedPreferencePage"
            name="Advanced Mode">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="net.bioclipse.ui.advanced.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.services">
      <sourceProvider
            provider="net.bioclipse.ui.advanced.AdvancedEnabledSourceProvider">
         <variable
               name="net.bioclipse.ui.advances.AdvancedState"
               priorityLevel="workbench">
         </variable>
      </sourceProvider>
   </extension>

</plugin>
