<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="net.bioclipse.scripting.contribution">
      <scriptContribution
            id="net.bioclipse.core.business.MoleculeManager"
            service="net.bioclipse.core.business.MoleculeManagerFactory">
      </scriptContribution>
   </extension>
   <extension
         point="org.eclipse.core.filesystem.filesystems">
      <filesystem
            scheme="memory">
         <run
               class="net.bioclipse.core.internal.filesystem.memory.MemoryFileSystem">
         </run>
      </filesystem>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="net.bioclipse.core.internal.filesystem.memory.MemoryFileStore"
            class="net.bioclipse.core.internal.filesystem.memory.MemoryAdapterFactory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
      </factory>
   </extension>
</plugin>
