<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="net.bioclipse.scripting.contribution">
      <scriptContribution
            id="net.bioclipse.core.business.MoleculeManager"
            service="net.bioclipse.core.business.MoleculeManagerFactory">
      </scriptContribution>
   </extension>
   <extension
         point="org.eclipse.core.filesystem.filesystems">
      <filesystem
            scheme="memory">
         <run
               class="net.bioclipse.core.internal.filesystem.memory.MemoryFileSystem">
         </run>
      </filesystem>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="net.bioclipse.core.internal.filesystem.memory.MemoryFileStore"
            class="net.bioclipse.core.internal.filesystem.memory.MemoryAdapterFactory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
      </factory>
   </extension>
   <extension
point="org.eclipse.ui.decorators">
<decorator
lightweight="true"
location="BOTTOM_RIGHT"
adaptable="true"
label="Virtual Resource Decorator"
icon="icons/virtual.gif"
state="true"
id="net.bioclipse.core.virtual.decorator">
   <enablement>
      <and>
         <objectClass
               name="org.eclipse.core.resources.IResource">
         </objectClass>
         <objectState
               name="path"
               value="/Virtual*">
         </objectState>
      </and>
   </enablement>
</decorator>
</extension>
</plugin>
