<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="net.bioclipse.cdk10.colorer" name="ColorerAction" schema="schema/net.bioclipse.cdk10.colorer.exsd"/>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="MDLMolfileEditor"
            icon="icons/molecule2D.gif"
            extensions="mol,mdl"
            default="true"
            contributorClass="net.bioclipse.cdk10.jchempaint.ui.editor.JCPMultiPageEditorContributor"
            class="net.bioclipse.cdk10.jchempaint.ui.editor.mdl.MDLMolfileEditor"
            id="net.bioclipse.cdk10.jchempaint.ui.editor.mdl.MDLMolfileEditor">
            <contentTypeBinding
                  contentTypeId="net.bioclipse.contenttypes.mdlMolFile">
            </contentTypeBinding>
      </editor>

      <editor
            name="CMLfileEditor"
            icon="icons/molecule2D.gif"
            default="true"
            contributorClass="net.bioclipse.cdk10.jchempaint.ui.editor.JCPMultiPageEditorContributor"
            class="net.bioclipse.cdk10.jchempaint.ui.editor.cml.CMLfileEditor"
            id="net.bioclipse.cdk10.jchempaint.ui.editor.cml.CMLfileEditor">
            <contentTypeBinding
                  contentTypeId="net.bioclipse.contenttypes.cml.molecule2d">
            </contentTypeBinding>
      </editor>
   </extension>
   <extension
         point="net.bioclipse.cdk10.colorer">
         <colorer
               class="net.bioclipse.cdk10.jchempaint.colorers.actions.CPKAction"
               id="net.bioclipse.cdk10.jchempaint.colorers.actions.CPKAction"
               name="CPK"
               icon="icons/molecule3D.gif">
         </colorer>
   </extension>

   <extension
         point="org.eclipse.ui.views">
      <view
            name="2D-Structure"
	        icon="icons/molecule2D.gif"
            category="net.bioclipse.cdk.category"
            class="net.bioclipse.cdk10.jchempaint.views.Java2DRendererView"
            id="net.bioclipse.cdk10.jchempaint.views.Java2DRendererView">
      </view>
      <!--category
            id="net.bioclipse.cdk10.category"
            name="Chemoinformatics CDK10">
      </category-->
   </extension>
   
    <extension
       point="org.eclipse.ui.perspectiveExtensions"
       id="cdk10PerspectiveExtension">
    <perspectiveExtension
          targetID="net.bioclipse.pcore.PcorePerspective">
          <view
                id="net.bioclipse.cdk10.jchempaint.views.Java2DRendererView"
                relative="org.eclipse.ui.views.PropertySheet"
                relationship="right"
                ratio="0.70">
          </view>
          <viewShortcut
                id="net.bioclipse.cdk10.jchempaint.views.Java2DRendererView">
          </viewShortcut>
    </perspectiveExtension>
 </extension>
   

</plugin>
