<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="net.bioclipse.cdk10.atomcolorer" name="AtomColorer" schema="schema/net.bioclipse.cdk10.atomcolorer.exsd"/>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="MDLMolfileEditor"
            icon="icons/molecule2D.gif"
            extensions="mol,mdl"
            default="true"
            contributorClass="net.bioclipse.cdk10.jchempaint.ui.editor.JCPMultiPageEditorContributor"
            class="net.bioclipse.cdk10.jchempaint.ui.editor.mdl.MDLMolfileEditor"
            id="net.bioclipse.cdk10.jchempaint.ui.editor.mdl.MDLMolfileEditor">
      </editor>
      <editor
            name="CMLfileEditor"
            icon="icons/molecule2D.gif"
            extensions="cml,xml"
            default="true"
            contributorClass="net.bioclipse.cdk10.jchempaint.ui.editor.JCPMultiPageEditorContributor"
            class="net.bioclipse.cdk10.jchempaint.ui.editor.cml.CMLfileEditor"
            id="net.bioclipse.cdk10.jchempaint.ui.editor.cml.CMLfileEditor">
      </editor>
   </extension>
   <extension
         point="net.bioclipse.cdk10.atomcolorer">
      <AtomColorer
            class="org.openscience.cdk.renderer.color.CPKAtomColors"
            id="net.bioclipse.cdk10.jchempaint.ColorerCPK"
            name="CPK">
      </AtomColorer>
   </extension>
   
   

</plugin>
