<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="MDLMolfileEditor"
            icon="icons/molecule2D.gif"
            extensions="mol,mdl"
            default="true"
            contributorClass="net.bioclipse.cdk10.jchempaint.ui.editor.JCPMultiPageEditorContributor"
            class="net.bioclipse.cdk10.jchempaint.ui.editor.mdl.MDLMolfileEditor"
            id="net.bioclipse.cdk10.jchempaint.ui.editor.mdl.MDLMolfileEditor">
      </editor>
   </extension>


</plugin>
